* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.areainfo {
  img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
  background-image: url(kkk.jpeg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
} color: white;
}
.areainfo h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 75px;
}

.areainfo h2 {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}

header {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  background-color: rgb(38, 95, 73);
  padding-top: 15px;
  padding-bottom: 15px;

}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  font-size: 30px;
}

li {
  a:hover {
    color: rgb(230, 223, 240);
  }

  a {
    color: black;
    text-decoration: none;
    list-style-type: none;
  }

  margin-right: 20px;
}

li:hover {
  color: greenyellow;
}

.paz {
  width: 42px;
  height: 42px;
  overflow-clip-margin: content-box;
  overflow: clip;
  border: 2px solid rgb(70, 70, 70);
  border-radius: 50%;
  align-self: flex-start;
  margin-left: 20px;
}

nav {
  align-self: flex-end;
}

.p1 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  background-color: cornsilk;
  font-style: oblique;
}